/* navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a {
    font-size: 1.3rem;
    padding: 5px 9px;
    padding-bottom: 8px;
}
/* home section */
#home{
    height: 370px;
    padding: 30px 1px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 18px;
}
#navbar::before {
    content: "";
    background-color: transparent;
    position: absolute;
    height: 90%;
    top: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}
#navbar {
    display: flex;
    align-items: center;
    position: unset;
    top: 0px;
}
/* Services section */
#services{
    flex-direction: column;

}
#services .box{
    padding: 13px 14px;
    margin: 6px -78px;
    /* border-radius: 28px; */
    /* background: whitesmoke; */
    margin-bottom: 20px;
}
.box{
        border: 2px solid rgb(0, 0, 0);
        width: 350px;
        align-items: center;
        padding: 23px;
        margin: 23px;
        border-radius: 10px;
        background-color: rgb(0, 0, 0);
    }
/* client section */
#clients::before{
        content: "";
        position: absolute;
    background: none;
       
       height: 355px;
    width: 100%;
    
    opacity: 0.7;
    }
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 220px;
    padding: 6px;
    height: auto;

}

/* contact us section */
#contact-box form{
    width: 80%;

}
.client-item {
    padding: 0px;
    margin: 50px;
    background: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
}

/* Footer */
/* utilities */
.h-primary {
    font-size: 2.8rem;
    padding: 12px;
    position: relative;
    margin-top: 332px;
    /* margin-top: 11px; */
}
.h-primaryclient {
    font-size: 3rem;
    /* padding: 2px; */
    /* margin-top: 50px; */
    text-align: center;
    margin-top: 84px;}
.btn{
    font-size: 32px;
    padding: 8px 8px;

}
